main {
    display: block;
    max-width: 70rem;
    margin: 2rem 2rem;
}

.row {
    display: flex;
    min-height: 100vh;
}

.column {
    display: flex;
    flex: 50%;
}

.column.query-builder {
    flex-direction: column;
}

.column.query-preview {
    display: flex;
    justify-content: flex-end;
}
