body {
  font-family: Arial, Helvetica, sans-serif;
}

.section-container {
  display: flex;
  min-width: 100%;
  margin-bottom: 10px;
}

.section_label-container {
  width: 60px;
}

.section_selection-container {
}

.select-long {
  min-width: 400px;
}
