on:
  workflow_dispatch:  # <- this allows triggering from github's UI
  push:
    branches:
      - main
    paths:
    - '*'
    - '.github/workflows/*'
    - 'packages/soql-model/**'
name: release-soql-model
jobs:
  release-soql-model:
    runs-on: ubuntu-latest
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v2
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
          path: packages/soql-model
          monorepo-tags: true
          default-branch: main
      - uses: actions/checkout@v2
        # these if statements ensure that a publication only occurs when
        # a new release is created (when merging a release PR to main):
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v2
        with:
          node-version: 12
        if: ${{ steps.release.outputs.release_created }}
      - name: bump-dependencies-to-soql-model
        run: |
         SOQL_MODEL_VERSION=${{ steps.release.outputs.major}}.${{ steps.release.outputs.minor }}.${{ steps.release.outputs.patch}}
         sed -i.back -E 's/"@salesforce\/soql-model": +"[^"]+"/"@salesforce\/soql-model": "'$SOQL_MODEL_VERSION'"/g' packages/*/package.json
         git diff
         git config --local user.email "$(git log --format='%ae' HEAD^!)"
         git config --local user.name "$(git log --format='%an' HEAD^!)"
         git commit -a -m "chore: bump soql-model version on soql-builder-ui to $SOQL_MODEL_VERSION"
         git push
        if: ${{ steps.release.outputs.release_created }}
      - name: build-and-publish
        run: |
         yarn
         yarn build
         cd packages/soql-model
         npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        if: ${{ steps.release.outputs.release_created }}
